  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <div class="floatwrap">
      
      <div class="main_left">
      <h6><%= image_tag("main_tit_01.jpg", alt: "おすすめ！ルームシェア物件", width: "356", height: "46") %></h6>
        <div class="main_spec_or">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸女性専用物件</div>          
            <div class="main_spec_access">西武池袋線 桜台駅徒歩7分</div>          
            <div class="main_spec_pict"><a href="/room/whitehousesakuradai"><img src="/assets/sakuradai_pict.jpg" width="150" height="113" alt="WHITE HOUSE 桜台"></a></div>
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"><%= link_to 'WHITE HOUSE 桜台', "/room/whitehousesakuradai" %></div>
            <div class="main_spec_rtxt">
            <span class="bbold">家賃4.8万円～6.0万円</span><br>
            住所：東京都練馬区桜台<br>
            間取り：１Ｋ<br>
            個室：5部屋<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            アクティブ女子の為のシェアハウスです！
            </div><!-- end div.main_spec_copy -->
        </div><!-- end div.main_spec_or -->
      </div><!-- end div.main_left -->

      <div class="main_right">
      <h6><%= image_tag("main_tit_02.jpg", alt: "新着！ルームシェア物件", width: "356", height: "46") %></h6>
        <div class="main_spec_gr">
          <div class="main_spec_left">
            <div class="main_spec_tit">賃貸</div>          
            <div class="main_spec_access">中央･総武線 阿佐ヶ谷徒歩7分</div>          
            <div class="main_spec_pict"><a href="/room/abaranchiasagaya"><img src="/assets/asagaya_pict.jpg" width="150" height="113" alt="アバランチ阿佐ヶ谷"></a></div>          
          </div><!-- end div.main_spec_left -->
          <div class="main_spec_right">
            <div class="main_spec_rtit"><%= link_to 'アバランチ阿佐ヶ谷', "/room/abaranchiasagaya" %></div>
            <div class="main_spec_rtxt">
            <span class="bbold">家賃3.8万円～7.1万円</span><br>
            住所：杉並区阿佐ヶ谷南<br>
            間取り：１Ｋ<br>
            個室：8部屋<br>
            敷金：１ヶ月<br>
            礼金：１ヶ月</div>
            </div><!-- end div.main_spec_right -->
            <div class="main_spec_copy">
            秘密基地風のコワーキング・スペース付き！
            </div><!-- end div.main_spec_copy -->
        </div><!-- end div.main_spec_or -->
      </div><!-- end div.main_right -->

      </div><!-- end div.floatwrap -->
    
      <div class="floatwrap mgnt20">
      
      <div class="main_left">
      <h6><%= image_tag("main_tit_03.jpg", alt: "新着ブログ記事紹介", width: "356", height: "46") %></h6>
        <p>ブログ記事紹介</p>
      </div><!-- end div.main_left -->

      <div class="main_right">
      <h6><%= image_tag("main_tit_04.jpg", alt: "シェア生活・口コミ情報", width: "356", height: "46") %></h6>
        <p>シェア生活・口コミ情報紹介</p>
      </div><!-- end div.main_right -->

      </div><!-- end div.floatwrap -->

      <%= render partial: 'layouts/news' %>

    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
