  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <h2>サイトマップ</h2>

      <h4>制作済み</h4>
      <ul class="sitemap">
        <li>・[form]<%= link_to('空き室を貸したい',controller: :inquiry, action: :vacanthouse) %></li>
        <li>・[form]<%= link_to('口コミ情報求む', controller: :inquiry, action: :review) %></li>
        <li>・<%= link_to 'ルームシェア東京とは', "about" %></li>
        <li>・<%= link_to '運営会社', "corporate" %></li>
        <li>・<%= link_to 'サイトマップ', "sitemap" %></li>
        <li>・<%= link_to 'リンク集', "link" %></li>
        <li>・<%= link_to 'プライバシーポリシー', "privacy" %></li>
        <li>・<%= link_to '路線・駅名で探す', "line" %></li>
        <li>・<%= link_to 'エリアで探す', "area" %></li>
        <li>・<%= link_to 'ブログ', "blog" %></li>
        <li>・<%= link_to '口コミ情報', "review" %></li>
        <li>・<%= link_to '間取りで探す', "madori" %></li>
        <li>・<%= link_to '条件で探す', "conditions" %></li>
        <li>・<%= link_to 'アバランチ阿佐ヶ谷', "/room/abaranchiasagaya" %></li>
        <li>・<%= link_to 'WHITE HOUSE 桜台', "/room/whitehousesakuradai" %></li>
      </ul>

      <p>&nbsp;</p>

      <h4>未対応</h4>
      <ul class="sitemap">
        <li>[form]MAIL MAGAZINE</li>
        <li>[form]オーナー様不動産会社様へ</li>
        <li>[form]こんな物件を探してほしい</li>
        <li>[form]お問い合わせ</li>
      </ul>

      <p>&nbsp;</p>


    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
