<div id="content" class="floatwrap">
<div id="contentArea" class="floatwrap">

  <%= render partial: 'layouts/side' %>

  <div id="main">
  <div class="main_header"></div>

    <article id="post-8" class="post-8 page type-page status-publish hentry box-middle post">


    <h2>こんな物件を探してほしい！</h2>

    <p>みなさんが本当に住んでみたいのはどんな物件ですか？<br>
    ルームシェア東京では、ユーザーのみなさんが叶えたい理想の物件探しをサポートいたします。</p>

    <p>｢ブタと一緒に暮らしたい｣「深夜に思いっきり音が出せる部屋に住みたい｣<br>
    といった、「一見無理ではないか？」と思うものも含めてダメもとで送ってください！</p>

    <p>理想の物件が見つかるかもしれませんよ！</p>

    <%= form_for @desireroom, url: {action: :confirm_desireroom}, :html => { :multipart => true } do |f| %>


      <table border="0" cellpadding="0" cellspacing="0" class="form">

        <tr>
          <th>お名前<span class="red">【必須】</span></th>
          <td>
            <%= f.text_field :name, size: "12", maxlength: "24" %>
            <div class="error"><%= @desireroom.errors.messages[:name][0] if !@desireroom.errors.messages[:name].blank? %></div>
          </td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td>
            <%= f.text_field :furigana, size: "12", maxlength: "24" %>
          </td>
        </tr>

        <tr>
          <th>年齢</th>
          <td>
            <%= f.text_field :age, size: "12", maxlength: "24" %>
          </td>
        </tr>

        <tr>
          <th>性別</th>
          <td>
            <%= f.select(:master_gender_id, options_for_select(MasterGender.all.collect {|ma| [ ma.value, ma.id ]}, selected: @desireroom.master_gender_id), {include_blank: '選択して下さい'}) %>

          </td>
        </tr>

        <tr>
          <th>職業<span class="red">【必須】</span></th>
          <td>
            <%= f.select(:master_job_id, options_for_select(MasterJob.all.collect {|mj| [ mj.value, mj.id ]}, selected: @desireroom.master_job_id), {include_blank: '選択して下さい'}) %>
          </td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>
            <%= f.text_field :tel, size: "12", maxlength: "24" %>
          </td>
        </tr>

        <tr>
          <th>メールアドレス<span class="red">【必須】</span></th>
          <td>
            <%= f.text_field :email, size: "36", maxlength: "80" %>
            <div class="error"><%= @desireroom.errors.messages[:email][0] if !@desireroom.errors.messages[:email].blank? %></div>
          </td>
        </tr>

        <tr>
          <th>希望する連絡方法</th>
          <td>
            <% MasterContactInformation.all.each do |mc| %>
              <%= check_box_tag 'mail_desireroom[master_contact_informations][]', mc.id.to_s, (!params[:mail_desireroom].nil? && !params[:mail_desireroom][:master_contact_informations].nil? ? params[:mail_desireroom][:master_contact_informations].include?(mc.id.to_s) : false), id: dom_id(mc) %><%= mc.value %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>勤務先・通学先等の最寄り駅</th>
          <td>
            <%= f.text_field :station, size: "12", maxlength: "24" %>
          </td>
        </tr>

        <tr>
          <th>勤務先・通学先等までの希望所要時間</th>
          <td>
            <% MasterCommutingTime.all.each do |mc| %>
              <%= f.radio_button :master_commuting_time_id, mc.id %><%= mc.value %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>希望の沿線・駅（例：中央線・阿佐ヶ谷駅）</th>
          <td>
            <%= f.text_field :line, size: "12", maxlength: "24" %>
          </td>
        </tr>

        <tr>
          <th>希望エリア（例：東京都杉並区）</th>
          <td>
            <%= f.text_field :area, size: "12", maxlength: "24" %>
          </td>
        </tr>

        <tr>
          <th>希望の間取り・面積（複数選択可）</th>
          <td>
            <% MasterMadori.all.each do |mm| %>
              <%= check_box_tag 'mail_desireroom[master_madoris][]', mm.id.to_s, (!params[:mail_desireroom].nil? && !params[:mail_desireroom][:master_madoris].nil? ? params[:mail_desireroom][:master_madoris].include?(mm.id.to_s) : false), id: dom_id(mm) %><%= mm.value %>
            <% end %>
          </td>
        </tr>
        <tr>

        <tr>
          <th>入居予定時期</th>
          <td>
            <%= f.select(:master_live_term_id, options_for_select(MasterLiveTerm.all.collect {|ml| [ ml.value, ml.id ]}, selected: @desireroom.master_live_term_id), {include_blank: '選択して下さい'}) %>
          </td>
        </tr>

        <tr>
          <th>入居予定人数</th>
          <td>
            <%= f.select(:master_desired_number_id, options_for_select(MasterDesiredNumber.all.collect {|md| [ md.value, md.id ]}, selected: @desireroom.master_desired_number_id), {include_blank: '選択して下さい'}) %>
          </td>
        </tr>

        <tr>
          <th>住まいで重視している事を一言でどうぞ<br>
（家賃、広さ、駅、駅近、ペット相談可能など）</th>
          <td>
            <p><%= f.text_field :conditions01, size: "12", maxlength: "24" %></p>
            <p><%= f.text_field :conditions02, size: "12", maxlength: "24" %></p>
            <p><%= f.text_field :conditions03, size: "12", maxlength: "24" %></p>
            <p><%= f.text_field :conditions04, size: "12", maxlength: "24" %></p>
            <p><%= f.text_field :conditions05, size: "12", maxlength: "24" %></p>
          </td>
        </tr>


        <tr>
          <th>その他、こだわりや伝えたいことがあればこの欄にご記入ください</span></th>
          <td>
            <%= f.text_area :detail, size: "16x4", maxlength: "20" %></textarea>
            
          </td>
        </tr>
      </table>

      <div class="form_btn"><input type="image" src="/assets/confirm_btn.jpg" onMouseOver="this.src='/assets/confirm_btn_o.jpg'" onMouseOut="this.src='/assets/confirm_btn.jpg'" class="submit" value="送信確認画面へ">
      </div>

    <% end %>


    <div class="main_footer"></div>
    </div><!-- end div#main -->


  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->

</div>
</div>
