    <div id="side">
    <h6><a href="/delivery/"><%= image_tag("navi_btn_01.jpg", alt: "メールマガジン", width: "210", height: "80") %></a></h6>
    <h6><a href="/pr/"><%= image_tag("navi_btn_02.jpg", alt: "オーナー様・不動産会社様へ", width: "210", height: "60") %></a></h6>
    <h6><%= link_to(image_tag("navi_btn_03.jpg", alt: "空き室を貸したい", width: "210", height: "60"), controller: :inquiry, action: :vacanthouse) %></h6>
    <h6><a href="/pr/"><%= image_tag("navi_btn_04.jpg", alt: "こんな物件を探してほしい", width: "210", height: "60") %></a></h6>
    <h6><%= link_to(image_tag("navi_btn_05.jpg", alt: "口コミ情報求む", width: "210", height: "60"), controller: :inquiry, action: :review) %></h6>
    <h6><a href="/pr/"><%= image_tag("navi_btn_06.jpg", alt: "お問い合わせ", width: "210", height: "60") %></a></h6>

    <h6><a href="/pr/"><%= image_tag("navi_tit_01.jpg", alt: "間取り別で探す", width: "210", height: "60") %></a></h6>
    <ul class="side_list">
      <li><a href="#">1R～1LDK</a></li>
      <li><a href="#">2K～2LDK</a></li>
      <li><a href="#">3K～3LDK</a></li>
      <li><a href="#">4K～</a></li>
    </ul>
    <div class="side_list_footer"></div>
    
    <h6><a href="/pr/"><%= image_tag("navi_tit_02.jpg", alt: "条件で探す", width: "210", height: "60") %></a></h6>
    <ul class="side_list">
      <li><a href="#">徒歩５分以内</a></li>
      <li><a href="#">お一人様５万円以下</a></li>
      <li><a href="#">初期投資１０万以下</a></li>
      <li><a href="#">一戸建て</a></li>
      <li><a href="#">新築・築浅</a></li>
      <li><a href="#">デザイナーズ</a></li>
      <li><a href="#">女性専用</a></li>
      <li><a href="#">ペット可</a></li>
      <li><a href="#">事業者介在型</a></li>
    </ul>
    <div class="side_list_footer"></div>
    </div>
    <!-- end div#side -->
