    <div id="side">
    <h6><%= link_to(image_tag("navi_btn_01.jpg", alt: "メールマガジン", width: "210", height: "80"), controller: :inquiry, action: :mailmagazine) %></h6>
    <h6><%= link_to(image_tag("navi_btn_02.jpg", alt: "オーナー様・不動産会社様へ", width: "210", height: "60"), controller: :inquiry, action: :owner) %></h6>
    <h6><%= link_to(image_tag("navi_btn_03.jpg", alt: "空き室を貸したい", width: "210", height: "60"), controller: :inquiry, action: :vacanthouse) %></h6>
    <h6><%= link_to(image_tag("navi_btn_04.jpg", alt: "こんな物件を探してほしい", width: "210", height: "60"), controller: :inquiry, action: :desireroom) %></h6>
    <h6><%= link_to(image_tag("navi_btn_05.jpg", alt: "口コミ情報求む", width: "210", height: "60"), controller: :inquiry, action: :review) %></h6>
    <h6><%= link_to(image_tag("navi_btn_06.jpg", alt: "お問い合わせ", width: "210", height: "60"), controller: :inquiry, action: :contact) %></h6>

    <h6><%= link_to(image_tag("navi_tit_01.jpg", alt: "間取り別で探す", width: "210", height: "60"), controller: :madori, action: :index) %></h6>
    <ul class="side_list">
      <li><%= link_to '1R～1LDK', "/madori/m1k" %></li>
    </ul>
    <div class="side_list_footer"></div>
    
    <h6><%= link_to(image_tag("navi_tit_02.jpg", alt: "条件で探す", width: "210", height: "60"), controller: :conditions, action: :index) %></h6>
    <ul class="side_list">
      <li><%= link_to 'お一人様５万円以下', "/conditions/y5" %></li>
      <li><%= link_to '初期投資１０万以下', "/conditions/y10" %></li>
      <li><%= link_to '一戸建て', "/conditions/home" %></li>
      <li><%= link_to '新築・築浅', "/conditions/new" %></li>
      <li><%= link_to 'デザイナーズ', "/conditions/design" %></li>
      <li><%= link_to '女性専用', "/conditions/women" %></li>
    </ul>
    <div class="side_list_footer"></div>
    </div>
    <!-- end div#side -->
