<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ルームシェア東京</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<a name="top" id="top"></a>

  <div id="header">
  <div id="headerArea">
    <div class="header_txt"><h1>ルームシェア・シェアハウス物件、ルームメイトを探すならルームシェア東京！</h1></div>
    <div class="header_logo"><a href="http://www.rstokyo.net"><%= image_tag("site-logo.gif", alt: "ルームシェア東京", width: "271", height: "50") %></a></div>

    <div id="gnavi">
      <ul id="globalnavi">
      <li><a href="http://www.rstokyo.net"><%= image_tag("gnavi_01.jpg", alt: "TOP", width: "156", height: "43") %></a></li>
      <li><a href="/about/index.html"><%= image_tag("gnavi_02.jpg", alt: "About Site", width: "156", height: "43") %></a></li>
      <li><a href="/line/index.html"><%= image_tag("gnavi_03.jpg", alt: "路線･駅名で探す", width: "156", height: "43") %></a></li>
      <li><a href="/area/index.html"><%= image_tag("gnavi_04.jpg", alt: "エリアで探す", width: "156", height: "43") %></a></li>
      <li><a href="/blog/index.html"><%= image_tag("gnavi_05.jpg", alt: "ブログ", width: "156", height: "43") %></a></li>
      <li><a href="/kuchikomi/index.html"><%= image_tag("gnavi_06.jpg", alt: "口コミ情報", width: "156", height: "43") %></a></li>
      </ul>
    </div>
    <!-- end div#gnavi -->

  </div><!-- end div#headerArea -->
  </div><!-- end div#header -->

  <%= yield %>

  <div id="footer">
  <div id="footerArea" class="floatwrap">

    <div class="footer_logo">
    <div class="footer_elogo">
    <h6><a href="http://www.rstokyo.net"><%= image_tag("footer_elogo.jpg", alt: "スキマジャパンロゴ", width: "72", height: "66") %></a></h6>
    </div>
    <div class="footer_corp">
    <h6><%= image_tag("footer_logo.jpg", alt: "03-5347-9239", width: "150", height: "20") %></h6>
      <p>〒166-0004<br>
        東京都杉並区阿佐谷南1-8-3<br>
        プリエ阿佐ヶ谷1A</p>
    </div>
    </div>

    <div class="footer_navi">
      <ul>
      <li><a href="#">・ルームシェア東京とは</a></li>
      <li><a href="#">・運営会社</a></li>
      <li><a href="#">・オーナー様へ</a></li>
      <li><a href="#">・不動産業者様へ</a></li>
      <li><a href="#">・サイトマップ</a></li>
      <li><a href="#">・リンク集</a></li>
      <li><a href="#">・プライバシーポリシー</a></li>
      <li><a href="#">・お問い合わせ</a></li>
      </ul>
    </div>
    <div class="footer_navi">
    <h6><%= image_tag("fotter_tit_01.jpg", alt: "人気の路線から探す", width: "164", height: "30") %></h6>
      <ul>
      <li><a href="#">・東急東横線</a></li>
      <li><a href="#">・山手線</a></li>
      <li><a href="#">・中央線</a></li>
      <li><a href="#">・田園都市線</a></li>
      <li><a href="#">・京王線</a></li>
      <li><a href="#">・小田急線</a></li>
      <li><a href="#">・副都心線</a></li>
      </ul>
    </div>
    <div class="footer_navi">
    <h6><%= image_tag("fotter_tit_02.jpg", alt: "人気の駅から探す", width: "164", height: "30") %></h6>
      <ul>
      <li><a href="#">・自由が丘</a></li>
      <li><a href="#">・吉祥寺</a></li>
      <li><a href="#">・中目黒</a></li>
      <li><a href="#">・中野</a></li>
      <li><a href="#">・高円寺</a></li>
      <li><a href="#">・表参道</a></li>
      </ul>
    </div>
    <div class="footer_navi">
    <h6><%= image_tag("fotter_tit_03.jpg", alt: "人気のエリアから探す", width: "164", height: "30") %></h6>
      <ul>
      <li><a href="#">・世田谷区</a></li>
      <li><a href="#">・目黒区</a></li>
      <li><a href="#">・中央区</a></li>
      <li><a href="#">・杉並区</a></li>
      <li><a href="#">・渋谷区</a></li>
      <li><a href="#">・新宿区</a></li>
      <li><a href="#">・港区</a></li>
      </ul>
    </div>

  <div class="footer_copy">Copyright (C) 2013 <a href="http://www.rstokyo.net">ルームシェア東京</a> All Rights Reserved.</div>

  </div><!-- end div#footerArea -->
  </div><!-- end div#footer -->

<!-- start google-analytics -->

<!-- end google-analytics -->
</body>
</html>
